.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {  
  -webkit-appearance: none;   margin: 0;
}
