#container {
  width: 500px;
  background-color: rgb(183, 213, 238);
  padding: 20px;
  box-shadow: 1px 1px 1px 20px rgba(96, 69, 69, 0.5);
}

*{
  font-size: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;

}


.list {
  margin: 15px 0;
}
.list > li {
  background-color: rgb(229, 225, 147);
  padding: 5px;
  margin-bottom: 4px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.btn > button {
  padding: 5px;
 background-color: rgb(229, 225, 147);
  border: 0.5px solid #90a4ae;
  border-radius: 15px;
  width: 60px;
}

.btn > button:hover{
  background-color: aqua;
}

.lists{
  height: 15rem;
  /* background-color: red; */
}


.btnDelete {
    background-color: #a14b4b;
    color: #fff;
    border: none;
    /* padding: 1px 4px; */
    font-size: 16px;
}

.firstName{
  text-transform: capitalize;
}